.goods_list{
	border: 1px solid #999999;
	text-align: center;
	height: 60px;
	margin:5px 20px 0px 30px;
	
}
.good_list{
	margin-top: 15px;
	width: 100px;
	height: 28px;
	float: left;
}
.good_list_name{
	margin-top: 15px;
	height: 28px;
	width: 400px;
	float: left;
}
.good_list_editing{
	margin-top: 15px;
	height: 28px;
	width: 130px;
	float: left;
}
.good_list_img{
	margin-top: 5px;
	width: 100px;
	height: 50px;
	float: left;

}
.good_list_img img{

}
.good_list1{
	margin-top: 5px;
	width: 100px;
	height: 28px;
	float: left;
}
.good_list_code{
	margin-top: 15px;
	width: 100px;
	height: 28px;
	float: left;
}
.good_list_name1{
	margin-top: 5px;
	height: 28px;
	width: 400px;
	float: left;
}
.good_list_editing1{
	margin-top: 5px;
	height: 28px;
	width: 130px;
	float: left;
}
.goods_list1{
	border: 1px solid #999999;
	text-align: center;
	height: 30px;
	margin:5px 20px 0px 30px;
	
}
