.html_g{
margin-right:auto;
	box-sizing: border-box;
	
}

.head_t{
	
	
	width: 1320px;
	margin: auto;
	height: 105px;
	
}
.body_catalog{
	width: 1200px;
	
	margin: auto;
}
.reg_m{
margin-left: 10px;
margin-top: 1px;
}
.a_exit{
color: #446DB4;
text-decoration: none;
}
.a_exit:hover{
color:red;
text-decoration: underline;
}
.reg_le{
float: left;
width: 215px;
height: 63px;
}
.reg_r{
background: white;
height:76px;
float: left;
width: 180px;
border: 1px solid #ACABAB;
}
.bask1{
float: left;
width:215px;
height: 10px;
}
.baska{

}
.baskkol{

	padding-left: 5px;
	margin-top: 5px;
	background: url(/web/static/img/korzi.png);
	width: 170px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: right;
}

.koltovfg{
padding:0 8px 0 8px;
border-radius: 20px;
top: 109px;
left:1280px;
background: #ffff00;
position: absolute;


}
.bask2{
background: white;
font-size: 18px;
height: 40px;
border: 1px solid #ACABAB;
float: left;
width: 180px;
}
.bask2 a{
color:#446DB4;
text-decoration: none;
}
.bask2 a:hover{
color:red;
text-decoration: underline;
}
.sul_kor{
color:#446DB4;
}

.head_menu_b{
margin-left: 400px;
}
.register{
height: 70px;
}
.basket_h{
height: 20px;
}
.form_reg{
	width: 140px;
}

.menu_head{
	color:#446DB4;
	text-decoration: none;
	background: #F6F6F6;
	border: 1px solid #E8E7E7;
	float: left;
}
.menu_h_v{
	margin: 10px 30px 10px 30px;
}
.menu_head:hover{
	color:red;
	text-decoration: none;
	background: #F6F6F6;
	border: 1px solid #E8E7E7;
	float: left;
	border-bottom: 2px solid pink;
}
.head_c1{
height: 85px;
width: 400px;

float: left;
}
.head_c2{
float: left;
height: 85px;

width: 500px;
}
.head_c3{

float: left;
height: 98px;
width: 400px;
}




.body_g{
	box-sizing: border-box;
	
}
.body_left{
	box-sizing: border-box;
	width:200px;
	height: 1000px;
	float: left;
}/*-----------------------MENU-----------------------------------------------------------------------------*/


.menu_g{
padding-bottom: 5px;
	border: 1px solid #ACABAB;
	box-sizing: border-box;
	border-bottom: 3px solid #ACABAB;
}
.menu_g a{
		color:#446DB4;
	text-decoration: none;
}
a .menu_neg:hover{
	color:red;
	text-decoration: underline;
}
.menu_neg{
	box-sizing: border-box;
	margin-top: 5px;
	margin-left: 15px;
}
.body_center{

	box-sizing: border-box;
	width: 900px;
	margin: auto;

}
.dropdown-menu{
	z-index: 1200;
	float: left;
}
.body_right{
	
	box-sizing: border-box;
	width: 220px;
	height: 1000px;
	float: left;
	margin-left: 5px;
}
.footer_g{

	box-sizing: border-box;
	height: 248px;
	float: left;
	width: 100%;
}
.good{
	box-sizing: border-box;
	height: 500px;
	float: left;
	width: 286px;
	margin-left: 10px;
	margin-top: 10px;
}
.good_left{

	box-sizing: border-box;
	height: 500px;
	float: left;
	width: 84px;

}
.good_right{

	box-sizing: border-box;
	height: 500px;
	float: left;
	width: 195px;
}
.video{
		
	margin-left: 2px;
	width: 66px;
	text-decoration: none;
	box-sizing: border-box;

}
.demovideo{	
	
		margin:auto;
	width: 77px;
	box-sizing: border-box;
	}

.demo_a{
		
	margin-top: 5px;
	width:65px;
	height: 28px;
	background: url(/web/images/video.png);
	background-repeat: no-repeat;
	text-align:center;
	display: block;
	color:#3992D2;
	text-decoration: none;
	font-size: 10px;
	padding-top: 20px;
}
.video_a{
		
	margin-left: 2px;
	margin-top: 5px;
	width:65px;
	height: 16px;
	margin-bottom: 20px;
	background: url(/web/images/video.png);
	background-repeat: no-repeat;
	text-align:center;
	display: block;
	text-decoration: none;
	color:#3992D2;
	font-size: 10px;
	padding-top: 20px;
}
.demo_a:hover{
		
	margin-top: 5px;
	width:65px;
	height: 28px;
	background: url(/web/images/video2.png);
	background-repeat: no-repeat;
	text-align:center;
	display: block;
	color:red;
	text-decoration: underline;
	font-size: 10px;
	padding-top: 20px;
}
.video_a:hover{
	margin-left: 2px;
	margin-top: 5px;
	width:65px;
	height: 16px;
	background: url(/web/images/video2.png);
	background-repeat: no-repeat;
	text-align:center;
	display: block;
	text-decoration: underline;
	color:red;
	font-size: 10px;
	padding-top: 20px;
}
.good_right_l{
	z-index: 100;
	width: 157px;
	height: 100%;
	float:left;

}
.good_right_r{
	
	width: 25px;
	float:right;
	
}
.good_t{
		
	width: 190px;
	height: 200px;
;}
.good_b{
		
	width: 190px;
	height: 282px;
;
}
.superPrice{

display: block; 
width:89px ;
height: 35px;
background: url(/web/images/superp.png);
background-repeat: no-repeat;
position: absolute;

}
.topSales{
display: block; 
width:95px ;
height: 35px;
background: url(/web/images/topprod.png);
background-repeat: no-repeat;
position: absolute;


}
.stock{		
display: block; 
width:64px ;
height: 35px;
background: url(/web/images/akcia.png);
background-repeat: no-repeat;
position: absolute;
}
.img_url_katalog{
	width: 150px;
	float: left;
}
.image_foto_url{
z-index: 500;
width: 120px;
margin: auto;
}

.red{	
background: url(/web/images/red.png);
display: block;
background-repeat: no-repeat;
width:25px ;
height: 30px;

}
.white{
		
background: url(/web/images/white.png);
display: block;
background-repeat: no-repeat;
width:25px ;
height: 30px;
}
.black{
		
left:203px;
bottom: 365px;
background: url(/web/images/black.png);
display: block;
background-repeat: no-repeat;
width:25px ;
height: 30px;
}
.yellow{
		
background: url(/web/images/yellow.png);
display: block;
background-repeat: no-repeat;
width:25px ;
height: 30px;
}
a.red:hover{
filter: blur(2px);
background: url(/web/images/red.png);
display: block;
background-repeat: no-repeat;
width:25px ;
height: 30px;
}
a.white:hover{
filter: blur(2px);
background: url(/web/images/white.png);
display: block;
background-repeat: no-repeat;
width:64px ;
height: 30px;
}
a.black:hover{
filter: blur(2px);
background: url(/web/images/black.png);
display: block;
background-repeat: no-repeat;
width:25px ;
height: 30px;
}
a.yellow:hover{
filter: blur(2px);
background: url(/web/images/yellow.png);
display: block;
background-repeat: no-repeat;
width:25px ;
height: 30px;
}
.good_name{

	box-sizing: border-box;
}
.good_na{
		
	color:#4378ad;
	font-size: 13px;
	text-decoration: none;

}
.good_na:hover{
	color:red;
	font-size: 13px;
	text-decoration: underline;
}
.endingGood2{
		
	color: #FE6600;
	font-size: 13px;
}
.oldPrice2{
		
color:#99A5C2;
font-size: 19px;	
}
.oldPrice1{
		
	margin-left: 14px;
color:red;
text-decoration:line-through;
}
.endingGood1{
		
	margin-left: 8px;
}
.grn{
		
	color:#99A5C2;
	font-size: 18px;
}
.price{
	
	text-align: center;
	height: 35px;
	margin-top: 2px;
	padding: 4px;
	background: #FFF3B5;
	margin-left: 10px;
	float: left;
	box-sizing: border-box;
}
.reiting{
	
	float:left;
	margin-left: 25px;
	box-sizing: border-box;
}
.price1{
		
color: #333333;
}
img.reiting2{
width: 70px;
}
.reviews{
	
}
.reviews1{
		
	float:left;
	margin-bottom: 8px;
	color:#4378ad;
	font-size: 12px;
	text-decoration: none;
}
.reviews1:hover{
	color:red;
	font-size: 12px;
	text-decoration: underline;
}
.aass{
	height: 43px;
}
}
.features1{
	margin-left: 2px;
	margin-right: 5px;
	float: left;
}
.features{
	margin-left: 10px;
	height: 49px;
}
.description123{

	margin-top: 2px;
	margin-left: 8px;
	width: 190px;
	font-size: 13px;
	color:#333333;
	overflow:hidden;
	height: 90px;
}
.ss123{

height: 39px;
}
/*-------------------------------------------------ABOUT-------------------------------------------------------*/
#about_g{
		color: #424242;
	text-align: center;
}
#image_about{
	width: 650px;
	margin:auto;
}
#about_n{
	color:#424242;
	font-size: 19px;
	margin-left: 15px;
}
/*-------------------------------------------------------CONTACTS-----------------------------------------------------------------*/
#contact_g{
	width: 650px;
	margin:auto;
}
/*-------------------------------------------------------MAIN-----------------------------------------------------------------*/
#main_g{
width: 660px;
	margin:auto;
}
.body_right{
	background: url(/web/images/reklama.png);
	background-repeat: no-repeat;
}

.imgavaprofi{
	width: 50px;
	height: 50px;
}

.baskeet_glavvv{
	height: 100%;
	width: 100%;
	position:absolute;
	top:0px;
	left:0px;
	background: black;
	opacity: 0.7;
	z-index: 30;
}
.basket_2{
	width: 600px;
}
.basket_2vv{
width: 400px;
position: absolute;
background: white;
z-index: 999;
top:5%;
margin-left:250px;
border-radius: 15px;
}
.img_close111vv{
	top: 8px;
left: 340px;
position: absolute;
width: 40px;
background: url(/web/static/img/close.png);
height: 40px;

}
.img_close111vv:hover{
top: 8px;
background: url(/web/static/img/closeh.png);
left: 340px;
position: absolute;
width: 40px;
background: ;
height: 40px;
}
.prod_bask_gvv{
	width: 250px;
	
	margin-left: 60px;
	margin-top: 0px;
}
.username{
	padding-top: 15px;
	width: 200px;
	margin-left: 100px;
}
.profileuser{
	padding-top: 40px;
	width: 400px;
	height: 550px;
	margin-left: 25%;
	background-color: #E8E8E8;
	border-radius: 15px;
}
.submituser{
	padding-top: 20px;
	margin-left: 100px;
}
.bodyorders{
	border:1px solid;
}
.imglanguage{
	width: 20px;
}
.li_form_autorize{	
	margin: 15px;
}
.form_login_bar{
	margin-top: 5px;
	height: 35px;
}

.form_login_bar input{
	width: 250px;
}
#text_autoriz{
	font-size: 15px;
	
}
#reg_form_bar{

	font-size: 20px;
	width: 100px;
	height: 30px;
}
#img_exit_bar{
	width: 40px;
	height: 40px;
	margin-top: -11px;
	margin-bottom: -13px;
	background-image: url(/web/static/img/off_button.jpg);
	background-size: 40px;
	background-repeat: no-repeat;
}
#img_exit_bar:hover{
	height: 40px;
	width: 40px;
	margin-top: -10px;
	margin-bottom: -15px;
	background-image: url(/web/static/img/off_button_on.jpg);
	background-size: 40px;
	background-repeat: no-repeat;
}
.container-fluid{
	background-color:#1A1A1A;
}

#bar_hello{
	margin-top: 15px;
	float: left;
	color: white;
}
#name_history_orders{

	text-align: center;
}

#button_on_off{
	margin-bottom: -15px;
	margin-top: 12px;


}
#button_on_off img{
	width: 30px;
}
#auth_user{
	padding: 30px;
	padding-left: 70px;
	padding-right: 70px;
	border: 1px solid #adadad;
	width: 500px;
	margin: auto;
	height: 400px;
	border-radius: 9px;
}
#form_auth{
	padding-right: 50px;
	
	padding-left: 50px;
}
#submit_ayth_user{
	width: 260px;
}
#registr_auth_user{
	font-size: 20px;
}
.idGood{
	width: 100px;
}
.button_buy_goods{
	margin-bottom: 5px;
	width: 100px;
	height: 30px;
	background: url(/web/static/img/kupitb.png);
	background-size: 100px;
	background-repeat: no-repeat;
}
.button_buy_goods:hover{
	background: url(/web/static/img/kupitb_on.png);
	background-size: 100px;
	background-repeat: no-repeat;
}
.button_buy_goods:active{
	background: url(/web/static/img/kupitb_off.png);
	background-size: 100px;
	background-repeat: no-repeat;
}
.korz_pok{
	border: 1px solid;
}
#ssadsda{
	color: white;
	border: 1px solid;
	width: 150px;
	height: 35px;
	margin-left: 9px;

}
#ssadsda:hover{
	color: white;
}
#testselect{
	width: 150px;
}
.content{
	width: 170px;
}
#price{

	width: 120px;
	
}
#input_price{
	float: left;

}
#slider-range{
	margin-top: 5px;
	width: 165px;
	margin-bottom: 5px;
}
#asdsad{

}
.button_submit{
	float: right;
}
#body_input_price{

	width: 170px;
	height: 40px;
}
#body_body_price{
	margin-top: 10px;
}