.body_center{
	width: 1100px;
}
.menu_div_p{
	margin-top: 5px;
	border-bottom: 1px solid #E3E3E3;
	border-left: 1px solid #E3E3E3;
	float:left;
	height: 30px;
padding-left:15px;
padding-right:15px;
	text-align: center;
}
.menu_cen_p{


	
}
.imgavaprofi{
	width: 50px;
	height: 50px;
}
.menu_top_p{
margin-top:1px;
	width: 1090px;
	height: 36px;
}
.img_pro_b{
		margin-top:17px;
	float: left;
	width: 80px;
	
}
.img_b_b{
	margin: auto;
	width: 55px;
	height: 55px;

}
.img_b_b1{
	margin: auto;
	width: 25px;

}

.img_pro_a{
	margin-top:17px;
	width: 300px;
	float: left;
}
.image_p{

		height: 180px;
}
.predlog{
	height: 70px;

}
.good_img{
	margin: auto;
	width: 180px;
}
.idGood1{
		
	margin-left: 0px;
	display: block;
	background: url(../images/kupitb.png);
	width: 101px;
	height: 34px;
}

.demo_a{
float: left;
	width:74px;
	height: 28px;
	background: url(../images/video.png);
	background-repeat: no-repeat;
	text-align:center;
	display: block;
	color:#3992D2;
	text-decoration: none;
	font-size: 12px;

		margin: 0px;
}
.video_a{
float: left;
	width:70px;
	height: 16px;
	background: url(../images/video.png);
	background-repeat: no-repeat;
	text-align:center;
	display: block;
	text-decoration: none;
	color:#3992D2;
	font-size: 12px;
	
		margin: 0px;
}
.demo_a:hover{
	float: left;
	width:74px;
	height: 28px;
	background: url(../images/video2.png);
	background-repeat: no-repeat;
	text-align:center;
	display: block;
	color:red;
	text-decoration: underline;
	font-size: 12px;


		margin: 0px;
}
.video_a:hover{
float: left;
	width:70px;
	height: 16px;
	background: url(../images/video2.png);
	background-repeat: no-repeat;
	text-align:center;
	display: block;
	text-decoration: underline;
	color:red;
	font-size: 12px;

		margin: 0px;
}
.superPrice{	
display: block; 
width:89px ;
height: 35px;
background: url(../images/superp.png);
background-repeat: no-repeat;
position: relative;
bottom: 180px;
left: 60px;
}
.topSales{
	
display: block; 
width:95px ;
height: 35px;
background: url(../images/topprod.png);
background-repeat: no-repeat;
position: relative;
bottom: 180px;
left: 60px;

}
.stock{
		
display: block; 
width:64px ;
height: 35px;
background: url(../images/akcia.png);
background-repeat: no-repeat;
position: relative;
bottom: 180px;
left: 60px;
}
.grn100_g{

}
.grn101{
	text-decoration: none;
	color:#3992D2;
	padding-top: 37px;
	font-size: 11px;
	width: 70px;
	height: 26px;
	background: url(../images/100grn.png);
	background-repeat: no-repeat;
	float: left;
	
}

.grn101:hover{
		text-decoration: underline;
	color:red;
	padding-top: 37px;
	font-size: 11px;
	width: 70px;
	height: 26px;
	background: url(../images/100grn.png);
	background-repeat: no-repeat;
	float: left;

}
.oplata{
	background: url(../images/oplata.png);
	float: left;
	width: 320px;
	height: 280px;
}
.dopol{
	float: left;


}
.colors_p{
		
		width: 300px;
		height: 50px;
}
.red{
	margin-top: 5px;
	margin-left: 10px;
float: left;	
background: url(../images/red.png);
display: block;
background-repeat: no-repeat;
width:25px ;
height: 30px;

}
.white{
		margin-top: 5px;
	margin-left: 10px;
		float: left;	
background: url(../images/white.png);
display: block;
background-repeat: no-repeat;
width:25px ;
height: 30px;
}
.black{
		margin-top: 5px;
	margin-left: 10px;
	float: left;		
left:203px;
bottom: 365px;
background: url(../images/black.png);
display: block;
background-repeat: no-repeat;
width:25px ;
height: 30px;
}
.yellow{
		margin-top: 5px;
	margin-left: 10px;
	float: left;		
background: url(../images/yellow.png);
display: block;
background-repeat: no-repeat;
width:25px ;
height: 30px;
}
a.red:hover{
	margin-top: 5px;
	margin-left: 10px;
filter: blur(2px);
background: url(../images/red.png);
display: block;
background-repeat: no-repeat;
width:25px ;
height: 30px;
}
a.white:hover{
	margin-top: 5px;
	margin-left: 10px;
filter: blur(2px);
background: url(../images/white.png);
display: block;
background-repeat: no-repeat;
width:25px ;
height: 30px;
}
a.black:hover{
	margin-top: 5px;
	margin-left: 10px;
filter: blur(2px);
background: url(../images/black.png);
display: block;
background-repeat: no-repeat;
width:25px ;
height: 30px;
}
a.yellow:hover{
margin-top: 5px;
margin-left: 10px;
filter: blur(2px);
background: url(../images/yellow.png);
display: block;
background-repeat: no-repeat;
width:25px ;
height: 30px;
}
.text_color{
	margin-left: 10px;
	font-size: 13px;
	color: grey;
}
.opisanie_p{
	width: 100px;
	height: 50px;
}
.reiting{
	float:left;
	box-sizing: border-box;
}
.text_menu{
margin-top:3px;
}

.text_menu a{
	text-decoration:none;
		color:#3992D2;
}

.menu_div_p:hover{
	border-top:2px solid pink;
	margin-top:0px;
	text-decoration:underline;
	color:red;
}
.menu_div_p{
	margin-top:2px;
	text-decoration:none;
		color:#3992D2;
}
.name_p_p{
	width:1000px;

}
.good_name_p{
	color:#3D3D3D;
font-size:40px;
font-family:sans-serif;
}
.srav_ves12{
	float: left;
	width: 140px;
	height: 140px;
}
.block12{
	width: 480px;
	height: 370px;
}
.verh_p{
	height: 68px;
}
.niz_p{
	
	height: 68px;
}
.levo_p{
	float: left;
	
	height: 66px;
	width: 67px;
}
.pravo_p{
	width: 67px;
	float: left;
	
	height: 66px;
}