.html_g{
margin-right:auto;
	box-sizing: border-box;
	width:1333px;
}
.header_g{
	box-sizing: border-box;
	height: 170px;
}
.head_t{
	background: url(/administrator/static/img/fon.jpg);
	background-repeat: no-repeat;
	width: 1320px;
	margin: auto;
	height: 105px;
	
}
.head_b{
	height: 40px;
	width: 1200px;
	
}
.reg_m{
margin-left: 10px;
margin-top: 1px;
}
.a_exit{
color: #446DB4;
text-decoration: none;
}
.a_exit:hover{
color:red;
text-decoration: underline;
}
.reg_le{
float: left;
width: 215px;
height: 63px;
}
.reg_r{
	background: white;
height:66px;
float: left;
width: 160px;
border: 1px solid #ACABAB;
}
.bask1{
float: left;
width:215px;
height: 10px;
}
.baska{

}
.baskkol{

	padding-left: 5px;
	margin-top: 5px;
	background: url(/administrator/static/img/korzi.png);
	width: 142px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: right;
}
.koltovfg{
padding:0 8px 0 8px;
border-radius: 20px;
top:82px;
left:1265px;
background: #ffff00;
position: absolute;


}
.bask2{
background: white;
font-size: 18px;
height: 40px;
border: 1px solid #ACABAB;
float: left;
width: 160px;
}
.bask2 a{
color:#446DB4;
text-decoration: none;
}
.bask2 a:hover{
color:red;
text-decoration: underline;
}
.sul_kor{
color:#446DB4;
}

.head_menu_b{
margin-left: 400px;
}
.register{
height: 70px;
}
.basket_h{
height: 20px;
}
.form_reg{
	width: 140px;
}

.menu_head{
	color:#446DB4;
	text-decoration: none;
	background: #F6F6F6;
	border: 1px solid #E8E7E7;
	float: left;
}
.menu_h_v{
	margin: 10px 30px 10px 30px;
}
.menu_head:hover{
	color:red;
	text-decoration: none;
	background: #F6F6F6;
	border: 1px solid #E8E7E7;
	float: left;
	border-bottom: 2px solid pink;
}
.head_c1{
height: 85px;
width: 400px;

float: left;
}
.head_c2{
float: left;
height: 85px;

width: 500px;
}
.head_c3{

float: left;
height: 98px;
width: 400px;
}




.body_g{
	box-sizing: border-box;
}
.body_left{
	box-sizing: border-box;
	width:200px;
	height: 1000px;
	float: left;
}/*-----------------------MENU-----------------------------------------------------------------------------*/


.menu_g{
padding-bottom: 5px;
	border: 1px solid #ACABAB;
	box-sizing: border-box;
	border-bottom: 3px solid #ACABAB;
}
.menu_g a{
		color:#446DB4;
	text-decoration: none;
}
a .menu_neg:hover{
	color:red;
	text-decoration: underline;
}
.menu_neg{
	box-sizing: border-box;
	margin-top: 5px;
	margin-left: 15px;
}
.body_center{

	box-sizing: border-box;
	width: 900px;
	float: left;
}
.body_right{

	box-sizing: border-box;
	width: 220px;
	height: 1000px;
	float: left;
	margin-left: 5px;
}
.footer_g{

	box-sizing: border-box;
	height: 248px;
	float: left;
	width: 100%;
}
.good{
	box-sizing: border-box;
	height: 500px;
	float: left;
	width: 286px;
	margin-left: 10px;
	margin-top: 10px;
}
.good_left{

	box-sizing: border-box;
	height: 500px;
	float: left;
	width: 84px;

}
.good_right{

	box-sizing: border-box;
	height: 500px;
	float: left;
	width: 195px;
}
.video{
		
	margin-left: 2px;
	width: 66px;
	text-decoration: none;
	box-sizing: border-box;

}
.demovideo{	
	
		margin:auto;
	width: 77px;
	box-sizing: border-box;
	}

.demo_a{
		
	margin-top: 5px;
	width:65px;
	height: 28px;
	background: url(/administrator/images/video.png);
	background-repeat: no-repeat;
	text-align:center;
	display: block;
	color:#3992D2;
	text-decoration: none;
	font-size: 12px;
	padding-top: 20px;
}
.video_a{
		
	margin-left: 2px;
	margin-top: 5px;
	width:65px;
	height: 16px;
	background: url(/administrator/images/video.png);
	background-repeat: no-repeat;
	text-align:center;
	display: block;
	text-decoration: none;
	color:#3992D2;
	font-size: 12px;
	padding-top: 20px;
}
.demo_a:hover{
		
	margin-top: 5px;
	width:65px;
	height: 28px;
	background: url(/administrator/images/video2.png);
	background-repeat: no-repeat;
	text-align:center;
	display: block;
	color:red;
	text-decoration: underline;
	font-size: 12px;
	padding-top: 20px;
}
.video_a:hover{
	margin-left: 2px;
	margin-top: 5px;
	width:65px;
	height: 16px;
	background: url(/administrator/images/video2.png);
	background-repeat: no-repeat;
	text-align:center;
	display: block;
	text-decoration: underline;
	color:red;
	font-size: 12px;
	padding-top: 20px;
}
.good_right_l{
	width: 157px;
	height: 100%;
	float:left;

}
.good_right_r{
	padding-top: 8px;
	width: 25px;
	float:right;
	
}
.good_t{
		
	width: 190px;
	height: 200px;
;}
.good_b{
		
	width: 190px;
	height: 282px;
;
}
.superPrice{
		
display: block; 
width:89px ;
height: 35px;
background: url(/administrator/images/superp.png);
background-repeat: no-repeat;
position: relative;
bottom: 203px;
}
.topSales{
	
display: block; 
width:95px ;
height: 35px;
background: url(/administrator/images/topprod.png);
background-repeat: no-repeat;
position: relative;
bottom: 203px;

}
.stock{
		
display: block; 
width:64px ;
height: 35px;
background: url(/administrator/images/akcia.png);
background-repeat: no-repeat;
position: relative;
bottom: 203px;
}
.img_a_g{
margin-top: 5px;
}

.asdasdasdasd{
width: 120px;
margin: auto;
}
.red{	
background: url(/administrator/images/red.png);
display: block;
background-repeat: no-repeat;
width:25px ;
height: 30px;

}
.white{
		
background: url(/administrator/images/white.png);
display: block;
background-repeat: no-repeat;
width:25px ;
height: 30px;
}
.black{
		
left:203px;
bottom: 365px;
background: url(/administrator/images/black.png);
display: block;
background-repeat: no-repeat;
width:25px ;
height: 30px;
}
.yellow{
		
background: url(/administrator/images/yellow.png);
display: block;
background-repeat: no-repeat;
width:25px ;
height: 30px;
}
a.red:hover{
filter: blur(2px);
background: url(/administrator/images/red.png);
display: block;
background-repeat: no-repeat;
width:25px ;
height: 30px;
}
a.white:hover{
filter: blur(2px);
background: url(/administrator/images/white.png);
display: block;
background-repeat: no-repeat;
width:64px ;
height: 30px;
}
a.black:hover{
filter: blur(2px);
background: url(/administrator/images/black.png);
display: block;
background-repeat: no-repeat;
width:25px ;
height: 30px;
}
a.yellow:hover{
filter: blur(2px);
background: url(/administrator/images/yellow.png);
display: block;
background-repeat: no-repeat;
width:25px ;
height: 30px;
}
.good_name{

	box-sizing: border-box;
}
.good_na{
		
	color:#4378ad;
	font-size: 13px;
	text-decoration: none;

}
.good_na:hover{
	color:red;
	font-size: 13px;
	text-decoration: underline;
}
.endingGood2{
		
	color: #FE6600;
	font-size: 13px;
}
.oldPrice2{
		
color:#99A5C2;
font-size: 19px;	
}
.oldPrice1{
		
	margin-left: 14px;
color:red;
text-decoration:line-through;
}
.endingGood1{
		
	margin-left: 8px;
}
.grn{
		
	color:#99A5C2;
	font-size: 18px;
}
.price{
	
	text-align: center;
	height: 35px;
	margin-top: 2px;
	padding: 4px;
	background: #FFF3B5;
	margin-left: 10px;
	float: left;
	box-sizing: border-box;
}
.reiting{
	
	float:left;
	margin-left: 25px;
	box-sizing: border-box;
}
.price1{
		
color: #333333;
}
img.reiting2{
width: 70px;
}
.reviews{
	
}
.reviews1{
		
	float:left;
	margin-bottom: 8px;
	color:#4378ad;
	font-size: 12px;
	text-decoration: none;
}
.reviews1:hover{
	color:red;
	font-size: 12px;
	text-decoration: underline;
}
.aass{
	height: 43px;
}
.idGood1{
		
	margin-left: 8px;
	float:left;
	display: block;
	background: url(/administrator/images/kupitb.png);
	width: 101px;
	height: 34px;
}
.idGood1:hover{
	display: block;
	background-image: url(/administrator/images/kupitbhover.png);
	width: 101px;
	height: 34px;
}
.idGood1:active{
	display: block;
	background-image: url(/administrator/images/kupitbnaj.png);
	width: 101px;
	height: 34px;

}
.sravn{
padding-left: 1px;
float:left;
display: block;
background-image: url(/administrator/images/vesi.png);
width: 39px;
height: 34px;
box-sizing: border-box;
}
.love{
border-right: 1px solid #B0C4DE;
margin-left: ;
float:left;
display: block;
background-image: url(/administrator/images/love.png);
width: 39px;
height: 34px;
box-sizing: border-box;
margin-left: 2px;
}
.sravn:hover{
margin-left: -1px;
margin-top: -1px;
border: 1px solid #FFB6C1;
float:left;
display: block;
background-image: url(/administrator/images/vesi.png);
width: 39px;
height: 34px;
box-sizing: border-box;

}
.love:hover{
margin-right: 1px;
margin-top: -1px;
border: 1px solid #FFB6C1;
float:left;
display: block;
background-image: url(/administrator/images/love.png);
width: 39px;
height: 34px;
box-sizing: border-box;
margin-left: 1px;
}
.features1{
	margin-left: 2px;
margin-top: 8px;
	margin-right: 5px;
	float: left;
}
.features{
	margin-left: 10px;
	height: 49px;
}
.description123{

	margin-top: 2px;
	margin-left: 8px;
	width: 190px;
	font-size: 13px;
	color:#333333;
	overflow:hidden;
	height: 90px;
}
.ss123{

height: 39px;
}
/*-------------------------------------------------ABOUT-------------------------------------------------------*/
#about_g{
		color: #424242;
	text-align: center;
}
#image_about{
	width: 650px;
	margin:auto;
}
#about_n{
	color:#424242;
	font-size: 19px;
	margin-left: 15px;
}
/*-------------------------------------------------------CONTACTS-----------------------------------------------------------------*/
#contact_g{
	width: 650px;
	margin:auto;
}
/*-------------------------------------------------------MAIN-----------------------------------------------------------------*/
#main_g{
	width: 715px;
	margin:auto;
}
.body_right{
	background: url(/administrator/images/reklama.png);
	background-repeat: no-repeat;
}

.imgavaprofi{
	width: 50px;
	height: 50px;
}

.baskeet_glavvv{
	height: 100%;
	width: 100%;
	position:absolute;
	top:0px;
	left:0px;
	background: black;
	opacity: 0.7;
	z-index: 30;
}
.basket_2vv{
	padding: 15px;
min-height:300px;
position: absolute;
background: white;
width: 300px;
z-index: 999;
top:5%;
right: 40%;
border-radius: 15px;
}
.img_close111vv{
	top: 8px;
left: 280px;
position: absolute;
width: 40px;
background: url(/administrator/static/img/close.png);
height: 40px;

}
.img_close111vv:hover{
	top: 8px;
background: url(/administrator/static/img/closeh.png);
left: 280px;
position: absolute;
width: 40px;
background: ;
height: 40px;
}
.prod_bask_gvv{
	margin-left: 60px;
	margin-top: 50px;
}
.username{
	padding-top: 15px;
	width: 200px;
	margin-left: 100px;
}
.profileuser{
	padding-top: 40px;
	width: 400px;
	height: 500px;
	margin-left: 25%;
	background-color: #E8E8E8;
	border-radius: 15px;
}
.submituser{
	padding-top: 20px;
	margin-left: 100px;
}