.aaasssddd{
	border: 1px solid;
	height: 2000px;
	width: 100%;
	position:absolute;
	top:0px;
	left:0px;
	background: black;
	opacity: 0.7;
	z-index: 30;
}
.asdsafgcxer{
padding: 10px;
padding-right: 60px;
padding-left: 40px;
min-height:500px;
position: absolute;
background: white;
width: 30%;
z-index: 999;
top:5%;
right: 30%;
border-radius: 15px;

}
.img_close111{
position: absolute;
left: 450px;
width: 40px;
background: url(/administrator/static/img/close.png);
height: 40px;
}
.img_close111:hover{
background: url(/administrator/static/img/closeh.png);
left: 450px;
position: absolute;
width: 40px;
background: ;
height: 40px;
}
#korz_pok{
	margin-top: -10px;
color: #42a023;

}
#main_g123{
padding: 10px;
border: 1px solid #bfbfbf;
width: 100%;
height: 850px;
padding-bottom: 220px;
border-radius: 15px;
}
.fech_f{
	
	margin-top: 10px;
}
.fech_text{
	margin-top: 10px;
	width: 200px;
	height: 25px;
}
.fech_submit{
	margin-top: 10px;
	color: green;
}
.fechadd{
	
	margin-top: 30px;
}
.formnazgod{
	margin-top: 5px;
	height: 20px;
	margin-bottom: 5px;
}
.colorgod{
	margin-top: 5px;
	margin-bottom: 15px;
}
.colorgod1{
	margin-top: 5px;

}
textarea{
	margin-top: 5px;
	width: 400px;
	height: 100px;
}
#red{
		border:1px solid;
	color: red;
}
#yellow{
	border:1px solid;
	color:#d1ba0e;
}
.asgadg img{
	
	max-height: 40px;
}
#white{
	border:1px solid;
	color: white;
	width: 30px;
	height: 10px;
	background: black;
}
#black{
	width: 30px;
	height: 10px;
	border:1px solid;
}
